<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Main Page</title>
    <link href="css/index.css" rel="stylesheet" />
  </head>
  <body>
    <header>
      <h1 class="heading-title">SafeTable</h1>
      <p class="heading-subtitle">Know your food, transform your health</p>
    </header>
    <main>
      <div class="sreach-area">
        <input type="text" , placeholder="Search..." class="sreach-bar" />
      </div>
    </main>
  </body>
</html>
